@page "/"

<PageTitle>Landing Page</PageTitle>

<h1>Landing Page- Nature Love</h1>

<h2>The Wonders of Nature odd</h2>
<p>Nature is a source of endless wonder and inspiration. From the majestic mountains to the serene beaches, the natural world offers us breathtaking landscapes and a diverse array of flora and fauna. Spending time in nature has been shown to reduce stress, boost creativity, and improve overall happiness and well-being.</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>